extends: default

ignore: |
  .github/workflows/*

rules:
  line-length: disable
  document-start: disable
  truthy:
    allowed-values: ['true', 'false', 'on', 'off', 'yes', 'no']
  comments-indentation: disable